{% extends 'base.html.twig' %}

{% block leftScreen %}
    <div class="main-screen hide">
        <div class="screen__header">
            <span class="poke-name"></span>
            <span class="poke-id"></span>
        </div>
        <div class="screen__image">
            <img src="" class="poke-front-image" alt="front">
            <img src="" class="poke-back-image" alt="back">
        </div>
        <div class="screen__description">
            <div class="stats__types">
                <span class="poke-type-one"></span>
                <span class="poke-type-two"></span>
            </div>
            <div class="screen__stats">
                <p class="stats__weight">
                    weight: <span class="poke-weight"></span>
                </p>
                <p class="stats__height">
                    height: <span class="poke-height"></span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block rightScreen %}
    {% for abomistar in currentPageAbomistars %}
        <a href="/abomistar/{{ abomistar.id }}?page={{ currentPage }}" class="list-item">
                {{ abomistar.name|upper }}
        </a>
    {% endfor %}
{% endblock %}

{% block buttonPrev %}
    <a class="left-button unselectable" href="?page={{ currentPage > 1 ? currentPage - 1 : totalPages }}">Prev</a>
{% endblock %}
{% block buttonNext %}
    <a class="right-button unselectable" href="?page={{ currentPage < totalPages ? currentPage + 1 : 1 }}">Next</a>
{% endblock %}