{% extends 'base.html.twig' %}

{% block leftScreen %}
        <div class="content_block_text"><p>
            Il y a longtemps, dans un monde rempli de monstres étranges et terrifiants, les gens vivaient dans la peur constante des créatures qui les entouraient. Les légendes disaient que certaines de ces bêtes étaient des portails vers des mondes encore plus sombres, où des horreurs indicibles attendaient les imprudents qui oseraient les explorer.
            <br><br>
            C'est alors qu'un jeune inventeur nommé Hector a eu une idée révolutionnaire. Il a créé une machine capable d'analyser et de répertorier toutes les créatures monstrueuses qu'il rencontrait. Il a nommé cette machine "l'Abominarium", en l'honneur des créatures abominables qu'elle était destinée à répertorier.
<br><br>
            Bientôt, Hector est devenu célèbre dans le monde entier pour ses découvertes incroyables sur les Abomistars, les créatures monstrueuses qui peuplaient le monde. Il a utilisé l'Abominarium pour répertorier des centaines de créatures, les classant par type et par dangerosité.
<br><br>
            Au fil du temps, l'Abominarium est devenu une référence incontournable pour tous les aventuriers qui cherchaient à explorer les terres dangereuses du monde des monstres. Les inventeurs ont commencé à travailler sur des versions plus petites et plus portables de la machine, afin que les voyageurs puissent emporter l'Abominarium avec eux dans leurs aventures.
<br><br>
            Aujourd'hui, l'Abominarium est une encyclopédie numérique très avancée, contenant des informations détaillées sur des milliers de créatures monstrueuses de tous types et de toutes tailles. Que vous soyez un chercheur de trésors, un aventurier courageux ou simplement un curieux, l'Abominarium est l'outil parfait pour vous aider à découvrir le monde étrange et merveilleux des Abomistars.
<br><br>
            Découvrez la fascinante créature ténèbres / eau de la forêt de mangrove, Klowala ! Mesurant un mètre de haut et pesant 30 kg, Klowala se nourrit principalement de feuilles d'eucalyptus et de petits poissons. Mais ne vous laissez pas tromper par son apparence de clown sinistre, car cette créature possède des griffes acérées et peut projeter un jet d'eau avec précision, ce qui peut aveugler et ralentir ses ennemis. Les scientifiques ont même étudié cette capacité pour développer des systèmes d'extinction d'incendie plus efficaces. Klowala est également connu pour sa capacité à se déplacer avec agilité dans les arbres, lui permettant de surprendre ses ennemis par le haut. Alors, n'ayez pas peur de cette créature fascinante et découvrez ses incroyables capacités !
            </p></div>
    {{ parent() }}
{% endblock %}

{% block rightScreen %}
    {% for abomistar in currentPageAbomistars %}
        <a href="/abomistar/{{ abomistar.id }}?page={{ currentPage }}" class="list-item">
                {{ abomistar.name|upper }}
        </a>
    {% endfor %}
{% endblock %}

{% block buttonPrev %}
    <a class="left-button unselectable" href="?page={{ currentPage > 1 ? currentPage - 1 : totalPages }}">Prev</a>
{% endblock %}
{% block buttonNext %}
    <a class="right-button unselectable" href="?page={{ currentPage < totalPages ? currentPage + 1 : 1 }}">Next</a>
{% endblock %}