{% extends 'base.html.twig' %}

{% block title %}- Register{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Assets/CSS/register.css') }}">
{% endblock %}

{% block leftScreen %}
    <h1>Créer un compte</h1>

    {{ form_start(registrationForm) }}
    <div class="input__container">
        <i class="fas fa-envelope" aria-hidden="true"></i>
        {{ form_widget(registrationForm.username, {
            'attr': {
                'placeholder': 'Nom d\'utilisateur',
                'id': 'username'
            }
        }) }}
    </div>
    <div class="input__container">
        <i class="fas fa-envelope" aria-hidden="true"></i>
        {{ form_widget(registrationForm.email, {
            'attr': {
                'placeholder': 'Adresse email',
                'id': 'email_address'
            }
        }) }}
    </div>
    <div class="input__container">
        <i class="fas fa-envelope" aria-hidden="true"></i>
        {{ form_widget(registrationForm.plainPassword, {
            'attr': {
                'placeholder': 'Mot de passe',
                'id': 'password'
            }
        }) }}
    </div>

    <button type="submit" class="btn">Créer un compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
