{% extends 'base.html.twig' %}
{% block title %}- Register{% endblock %}
{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Assets/CSS/login_register.css') }}">
{% endblock %}

{% block leftScreen %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container__screen">
        <h1>Login</h1>
        <form action="{{ path('app_login') }}" method="post">
            <div class="input__container">
                <i class="fas fa-envelope"></i>
                <input type="text" id="email" name="_username" value="{{ last_username }}" placeholder="Email">
            </div>
            <div class="input__container">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="_password" placeholder="Password">
            </div>

            <button type="submit">Login</button>
        </form>
        <a href="{{ path('app_register') }}">Créer un compte</a>
    </div>
{% endblock %}