<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
        <link rel="stylesheet" href="{{ asset('Assets/CSS/style.css') }}">
    {% endblock %}
    <title>Abominarium{% block title %}{% endblock %}</title>
</head>
<body>
<div class="abominarium">
    <div class="left-container">
        <div class="left-container__top-section">
            <div class="top-section__blue"></div>
            <div class="top-section__small-buttons">
                <div class="top-section__red"></div>
                <div class="top-section__yellow"></div>
                <div class="top-section__green"></div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="logout">
                    <a href="{{ logout_path() }}">Se déconnecter</a>
                    <a href="{{ path('app_user_show', {'id': app.user.id }) }}">Mes informations</a>
                </div>
            {% else %}
                <div class="login">
                    <a href="{{ path('app_login') }}">Se connecter</a>
                    <a href="{{ path('app_register') }}">Créer un compte</a>
                </div>
            {% endif %}
        </div>
        <div class="left-container__main-section-container">
            <div class="left-container__main-section">
                <div class="main-section__white">
                    <div class="main-section__black">
                        {% block leftScreen %}
                            {# TODO: Ajouter la liste des Abomistars #}
                        {% endblock %}
                    </div>
                </div>
                <div class="left-container__controllers">
                    <div class="controllers__d-pad">
                        <div class="d-pad__cell top"></div>
                        <div class="d-pad__row">
                            <div class="d-pad__cell left"></div>
                            <div class="d-pad__cell middle"></div>
                            <div class="d-pad__cell right"></div>
                        </div>
                        <div class="d-pad__cell bottom"></div>
                    </div>
                    <div class="controllers__buttons">
                        <div class="buttons__button unselectable">B</div>
                        <div class="buttons__button unselectable">A</div>
                    </div>
                </div>
            </div>
            <div class="left-container__right">
                <div class="left-container__hinge"></div>
                <div class="left-container__hinge"></div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="right-container__black">
            <div class="right-container__screen">
                {% block rightScreen %}

                {% endblock %}
            </div>
        </div>
        <div class="right-container__buttons">
            <div class="left-button unselectable">Prev</div>
            <div class="right-button unselectable">Next</div>
        </div>
    </div>
</div>
{% block scripts %}
<script src="{{ asset('Assets/JS/app.js') }}"></script>
{% endblock %}
</body>
</html>