{% extends 'base.html.twig' %}

{% block title %}Abomistar{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Assets/CSS/abomistar.css') }}">
{% endblock %}

{% block leftScreen %}
<div class="container__screen">
    <div class="abomistar_header">
        <h4>{{ evolutionLevel > 0 ? 'lvl - ' ~ evolutionLevel : 'base' }}</h4>
        <h3>{{ abomistar.name }}</h3>
        <div class="abomistar_types">
            {% for type in abomistar.types %}
                <span class="abomistar_type">{{ type.name }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="abomistar_content">
        <div class="abomistar_left_content">
            <div class="abomistar_alimentation">
                <h4>Alimentation</h4>
                <p>{{ abomistar.alimentation }}</p>
            </div>
            <div class="abomistar_anecdotes">
                <h4>Anecdotes</h4>
                <p>{{ abomistar.anecdotes ? abomistar.anecdotes|join(', ') : '' }}</p>
            </div>
        </div>
        <div class="abomistar_right_content">
            <div class="abomistar_controls">
                <a href="{{ path('app_abomistar_edit', {'id': abomistar.id}) }}">edit</a>
                {{ include('abomistar/_delete_form.html.twig') }}
            </div>
            <div class="abomistar_stats">
                <div class="abomistar_stat">
                    <i class="fa-sharp fa-solid fa-ruler"></i><p>{{ abomistar.size }} m</p>
                </div>
                <div class="abomistar_stat">
                    <i class="fa-sharp fa-solid fa-weight-hanging"></i><p>{{ abomistar.weight }} lbs.</p>
                </div>
            </div>
            <div class="abomistar_image">
                <img src="{{ asset('Assets/Images/') ~ abomistar.imageUrl }}" alt="{{ abomistar.imageUrl }}"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block rightScreen %}
    {% for abomistar in currentPageAbomistars %}
        <a href="/abomistar/{{ abomistar.id }}?page={{ currentPage }}" class="list-item">
            {{ abomistar.name|upper }}
        </a>
    {% endfor %}
{% endblock %}

{% block buttonPrev %}
    <a class="left-button unselectable" href="?page={{ currentPage > 1 ? currentPage - 1 : totalPages }}">Prev</a>
{% endblock %}
{% block buttonNext %}
    <a class="right-button unselectable" href="?page={{ currentPage < totalPages ? currentPage + 1 : 1 }}">Next</a>
{% endblock %}
