{% extends 'base.html.twig' %}

{% block title %} - Edit User{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Assets/CSS/login_register.css') }}">
{% endblock %}

{% block leftScreen %}
    {{ include('user/_info.html.twig') }}
    {{ parent() }}
{% endblock %}

{% block rightScreen %}

        <h3>Modifier les informations</h3>

        {% if is_granted('ROLE_ADMIN') or user.id == app.user.id %}
            {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

            {{ include('user/_delete_form.html.twig') }}

            <a href="{{ path('app_change_password', { 'id': user.id }) }}">Changer de mot de passe</a>
        {% endif %}

{% endblock %}
